
body{
    width: 100vw;
    max-height: 2000px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.background_circle_one{
    position: absolute;
width: 561px;
height: 548px;
left: 900px;
top: 800px;
border-radius: 50%;
background: #83A474;
}
.background_circle_two{
position: absolute;
width: 1150px;
height: 500px;
left: -600px;
top: 1222px;
border-top-left-radius: 2000px;
border-top-right-radius: 2000px;
background: #83A474;
}

img{
    width: 100vw;
}
.circleline{
    box-sizing: border-box;

position: absolute;
width: 800px;
height: 800px;
left: 1109.17px;
top: 600px;
border-radius: 50%;
border: 6px dashed #666262;
}
.foodone{
    position: absolute;
width: 290px;
height: 290px;
left: 1350px;
top: 450px;

background: url(fodie1.png);
transform: rotate(-116.43deg);
}
.foodtwo{
    position: absolute;
width: 300px;
height: 300px;
left: 1000px;
top: 750px;

background: url(fodie4.png);
transform: rotate(-116.43deg);
}
.foodthree{
    position: absolute;
width: 300px;
height: 300px;
left: 1200px;
top: 1200px;

background: url(fodie5.png);
transform: rotate(-116.43deg);
}
.navi_one li{
    float: left;
    list-style: none;
    font-family: 'IM Fell Great Primer SC', serif;
    font-weight: bold;
}
.navi_one li a{
    text-decoration: none;
    padding: 30px 30px;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'IM Fell Great Primer SC', serif;
}
.heading{
    text-transform: uppercase;
    position: absolute;
width: 829px;
height: 149px;
left: calc(50% - 829px/2);
top: 48px;

font-family: 'IM FELL Great Primer SC';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 117px;
text-align: center;
color: #000000;
font-family: 'IM Fell Great Primer SC', serif;

}
.islogo{
    position: absolute;
width: 248px;
height: 231px;
left: 160px;
top: 48px;
}
.quote{
    position: absolute;
width: 610px;
height: 436px;
left: 104px;
top: 900px;

font-family: 'Cinzel Decorative';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 121px;
text-transform: uppercase;
color: #000000;
}
#footer_{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; 
    top: 1650px;
}
.footer__ li{
    float: right;
    font-family:'IM FELL Great Primer SC';
    list-style: none;
    font-weight: bold;
}
.footer__ li a{
    text-decoration: none;
    padding: 30px 30px;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'IM Fell Great Primer SC', serif;
}
.btn{
    position: absolute;
width: 209px;
height: 29px;
left: 1128px;
top: 319px;

font-family: 'IM FELL Great Primer SC';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 25px;
text-align: center;
letter-spacing: 0.05em;

color: #000000;
padding:0px 30px 30px 30px;
}